body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fff 50%, #E9E9E9 50%);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.rock,
.scissors {
    aspect-ratio: 1/1;
    width: 50px;
}

.paper {
    align-self: center;
    width: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}